/* SITE FONTS */
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES */
:root {
    /* site fonts */
    --title-fonts: "Anton", "Arial", sans-serif;
    --text-fonts: "Open Sans", "Arial", sans-serif;

    /* colors */
    --black-color: #000;
    --white-color: #fff;
    --brand-color: #f3efe0;

    /* background colors */
    --white-bg-color: #fff;
    --black-bg-color: #000;
}


/* GLOBAL STYLES */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 2px dashed var(--brand-color);
    outline-offset: 0.2rem;
}
html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    font-family: var(--text-fonts);
    flex-direction: column;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.64;
    color: var(--black-color);
    background-color: var(--white-bg-color);
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
button {
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}
h1, h2, h3 {
    font-family: var(--title-fonts);
    font-weight: 400;
}
h1 {
    font-size: 10rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
}
.container {
    width: min(100%, 1170px);
    margin: 0 auto;
    padding: 0 2rem;
}

/* HEADER STYLES */
.header {
    width: 100%;
    padding: 5.7rem 0 32.2rem; 
    background-image: url("../images/jpg/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 21.6rem;
}
.header-logo {
    display: flex;
    margin-right: 7rem;
}
.header-logo:hover path {
    fill: var(--brand-color);
}
.header-logo:active {
    opacity: 0.6;
}
.sitenav {
    margin-right: auto;
}
.sitenav-list {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.sitenav-link {
    font-family: var(--title-fonts);
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--white-color);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
}
.sitenav-link:hover {
    color: var(--brand-color);
}
.sitenav-link::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--brand-color);
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width 0.3s linear;
    visibility: hidden;
}
.sitenav-link:hover::after {
    width: 100%;
    visibility: visible;
}
.sitenav-link::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    bottom: -1px;
    right: 0;
    transition: width 0.3s linear;
    visibility: visible;
}
.sitenav-link:hover::before {
    width: 100%;
    visibility: hidden;
}
.header-tel {
    font-family: var(--title-fonts);
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--white-color);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.burger-btn {
    border: none;
    display: none;
}
.burger-btn path {
    fill: var(--white-color);
}
.burger-btn:hover path {
    fill: var(--brand-color);
}
.left-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    display: none;
}
.left-nav-toggler {
    transform: translateX(0%);
}
.left-nav .sitenav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.close-btn {
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    filter: invert(1);
}
.close-btn img {
    width: 28px;
    height: 28px;
}
.header-bottom {
    color: var(--white-color);
}
.header-bottom h1 {
    margin-bottom: 1.5rem;
}
.header-bottom h2 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: -0.8rem;
}
.header-bottom a {
    font-family: var(--title-fonts);
    font-size: 1.7rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    padding: 1.7rem 2.3rem;
    display: inline-block;
    transition: all 0.2s ease;
}
.header-bottom a:hover {
    background-color: var(--white-color);
    color: #000;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    .header-logo {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        padding: 4rem 0 20rem;
    }
    .header-top {
        justify-content: space-between;
    }
    .sitenav {
        display: none;
    }
    .burger-btn {
        display: block;
    }
    .left-nav {
        display: block;
    }
    .header-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-bottom h1 {
        font-size: 16vw;
    }
    .header-bottom h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 390px) {
    .header {
        padding: 4rem 0 16rem;
    }
    .container {
        padding: 0 1rem;
    }
    .header-bottom h1 {
        font-size: 15vw;
    }
    .header-bottom h2 {
        font-size: 2rem;
    }
    .header-bottom a {
        font-size: 1.4rem;
    }
}